<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/add-user">Add User</a>
    </div>
    
    <div class="form-add-new">
        <fieldset>
            <legend>Delete user</legend>
            Bạn có chắc là muốn xóa người dùng <b><%= user[0].name %></b> không?
            <button onclick="/">Có</button>
            <button>Không</button>
        </fieldset>
    </div>
    
    
</body>
</html>